[submodule "apps/open-webui"]
	path = apps/open-webui
	url = https://github.com/kabballa/open-webui.git
	branch = dev
	ignore = all

[submodule "apps/otio"]
	path = apps/otio
	url = https://github.com/kabballa/otio.git
	ignore = all

[submodule "apps/otioview"]
	path = apps/otioview
	url = https://github.com/kabballa/otioview.git
	ignore = all
	
[submodule "apps/ComfyUI"]
	path = apps/ComfyUI
	url = https://github.com/kabballa/ComfyUI.git
	ignore = all

[submodule "apps/ComfyUI-Manager"]
	path = apps/ComfyUI-Manager
	url = https://github.com/kabballa/ComfyUI-Manager.git
	ignore = all

[submodule "apps/ComfyUI-WanVideoWrapper"]
	path = apps/ComfyUI-WanVideoWrapper
	url = https://github.com/kijai/ComfyUI-WanVideoWrapper.git
	ignore = all

[submodule "apps/HeartMuLa_ComfyUI"]
	path = apps/HeartMuLa_ComfyUI
	url = https://github.com/benjiyaya/HeartMuLa_ComfyUI
	ignore = all