# --- Coozila! Studio AI Stack Fixes ---
opencv-python
matplotlib
pandas
diffusers
transformers
accelerate
omegaconf
einops
tqdm
scipy
numba
tinytag
googletrans==3.1.0a0
moviepy
imageio-ffmpeg
ffmpeg-python
GitPython
evalidate
gguf
openunmix